span, p{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.percentage {
position: absolute;
width: 34px;
height: 21px;
left: 460px;
top: 212px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #000000;
}

h1 {
	font-size: 3em;
	text-align: center;
	color: #fff;
	font-weight: 100;
	text-transform: capitalize;
	letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
  }

.box1 {
    position: absolute;
width: 1140px;
height: 487px;
left: 292px;
top: 588px;

background: #F7F7F7;
}

.text {
    position: absolute;
width: 314px;
height: 21px;
left: 287px;
top: 98px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
}

.rectangle{
    position: absolute;
width: 1140px;
height: 65px;
left: 292px;
top: 788px;

background: #E8E5E5;
}


.texts{
    position: absolute;
    margin: 10px 0px;
    text-align: center;
    width: 148px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 21px;
    color: #000000;
}

.rectangle2{
    position: absolute;
    width: 1140px;
    height: 487px;
    left: 292px;
    top: 788px;

background: #F7F7F7;
}

.rectangle3{
    position: absolute;
width: 97px;
height: 58px;
top: 866px;

background: #D83CFF;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }